@use "utils" as *;

:root {
  // TODO: make these values load from utils;
  --sm: 40rem;
  --md: 48rem;
  --lg: 64rem;
  --xl: 80rem;
  --2xl: 96rem;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

.rounded {
  border-radius: 10px;
}

button,
a.button {
  border: unset;
  background: inherit;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  font-family: var(--header-font);
  padding: 0.5rem 1rem;
  color: var(--fg-color);
  background-color: var(--bright-gold);
  display: block;
  transition: all 300ms;
}


input {
  border: unset;
  background: inherit;
}

section.lg {
  &>.container {
    margin: auto;
    max-width: var(--lg);
  }
}

section.xl {
  &>.container {
    margin: auto;
    max-width: var(--xl);
  }
}

// for links outside of normal text (i.e. navbar)
a.implicit {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}
