@use "utils" as *;

:root {
  // TODO: make these values load from utils;
  --sm: 40rem;
  --md: 48rem;
  --lg: 64rem;
  --xl: 80rem;
  --2xl: 96rem;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

.rounded {
  border-radius: 10px;
}

button {
  border: unset;
  background: inherit;
  cursor: pointer;
}

input {
  border: unset;
  background: inherit;
}

section.lg {
  &>.container {
    margin: auto;
    max-width: var(--lg);
  }
}

section.xl {
  &>.container {
    margin: auto;
    max-width: var(--xl);
  }
}

// section:has(.border) {
//   padding-bottom: 0;
// }
