---
import FullWidthColumn from "../sections/FullWidthColumn.astro";
import Base from "../templates/Base.astro";
---

<Base
	pageMetadata={{
		title: "Website",
		description: "Test",
		type: "website",
		image: "https://picsum.photos/200",
		"image:alt": "test",
	}}
>
	<section id="animated-hero"></section>
	<section id="tagline">
		<div><p>For every color</p> <p>For everyone</p></div>
	</section>
	<section id="our-mission">
		<h1>Our Mission</h1>
		<p>
			PRISM works to expand access to LGBTQ-inclusive education and sexual
			health resources for youth in South Florida. It's our goal to make sure
			everyone feels included in their community, regardless of race, ethnicity,
			religion, sexual orientation, gender identity, or gender expression.
		</p>
	</section>
	<section id="resources">
		<ul>
			<li><a href="/"><div>Learn</div></a></li>
			<li><a href="/"><div>Student Ambassador Program</div></a></li>
			<li><a href="/"><div>Get Tested</div></a></li>
			<li><a href="/"><div>School Policy Hub</div></a></li>
		</ul>
	</section>
	<section id="upcoming-events">
		<div><h1>Upcoming Events</h1></div>
		<div>
			<ul>
				<li><a href="/"><div></div></a></li>
				<li><a href="/"><div></div></a></li>
				<li><a href="/"><div></div></a></li>
			</ul>
			<div>
				<button type="button">1</button>
				<button type="button">2</button>
				<button type="button">3</button>
				<button type="button">4</button>
				<button type="button">5</button>
				<button type="button">6</button>
			</div>
		</div>
	</section>
	<section id="our-partners">
		<p>
			PRISM prides itself in being a collaborative member of the LGBT community
			in South Florida. See some of our partners below! These organizations,
			businesses, and individuals have shown their steadfast commitment to our
			motto: "For Every Color, For Everyone" through partnered events,
			fundraising initiatives, grants, sponsorships, and other collaborations.
		</p>
		<ul>
			<li><a href=""><div></div> </a></li>
			<li><a href=""><div></div> </a></li>
			<li><a href=""><div></div> </a></li>
			<li><a href=""><div></div> </a></li>
			<li><a href=""><div></div> </a></li>
		</ul>
	</section>
	<section id="newsletter-signup">
		<p>placeholder</p>
	</section>
	<footer>
		<p>placeholder</p>
	</footer>
</Base>

<style lang="scss"></style>
