---
import Base from "../templates/Base.astro";
import ToString from "../components/ToString.astro";
import FlagWithTagline from "../sections/FlagWithTagline.astro";
import flag from "../assets/img/long-pride-flag.png";
import CenteredPaperWithHeader from "../sections/CenteredPaperWithHeader.astro";
import CardsWithHeader from "../sections/CardsWithHeader.astro";
import { faker } from "@faker-js/faker";
import EventsWithHeader from "../sections/EventsWithHeader.astro";
import ContentWithHeader from "../sections/ContentWithHeader.astro";
import Carousel from "../components/Carousel.astro";
import NewsletterSignup from "../sections/NewsletterSignup.astro";
import Footer from "../sections/Footer.astro";

const fakeEvents = new Array(12).fill(null).map(() => {
	return {
		name: faker.lorem.words({ min: 2, max: 6 }),
		date: faker.date.future().toString(),
		location: faker.lorem.words({ min: 1, max: 5 }),
		image: faker.image.urlPicsumPhotos(),
	};
});

const fakeSponsors = new Array(4).fill(null).map(() => {
	return {
		image: faker.image.urlPicsumPhotos(),
		href: faker.internet.url(),
		alt: faker.lorem.words(),
	};
});
---

<Base
	pageMetadata={{
		title: "Website",
		description: "Test",
		type: "website",
		image: "https://picsum.photos/200",
		"image:alt": "test",
	}}
>
	<section id="animated-hero"></section>
	<FlagWithTagline title="Tagline" image={{ alt: "A pride flag.", ...flag }}>
		<ToString slot="center">
			<div
				style={{
					fontSize: "4.5rem",
					fontFamily: "var(--header-font)",
					fontWeight: "600",
					lineHeight: "5rem",
					color: "var(--fg-color)",
				}}
			>
				<p>For every color,<br />For everyone</p>
			</div>
		</ToString>
	</FlagWithTagline>
	<CenteredPaperWithHeader title="Our Mission">
		<h1
			style={{ fontSize: "4.5rem", fontWeight: "600", lineHeight: "5rem" }}
			slot="header"
		>
			Our Mission
		</h1>
		<p slot="content">
			PRISM works to expand access to LGBTQ-inclusive education and sexual
			health resources for youth in South Florida. It's our goal to make sure
			everyone feels included in their community, regardless of race, ethnicity,
			religion, sexual orientation, gender identity, or gender expression.
		</p>
	</CenteredPaperWithHeader>
	<CardsWithHeader
		title="Resources"
		cards={[
			{ label: "Learn", background: "yellow", href: "/", textColor: "black" },
			{ label: "Student Ambassador Program", background: "purple", href: "/" },
			{ label: "Get Tested", background: "pink", href: "/" },
			{ label: "School Policy Hub", background: "blue", href: "/" },
		]}
	/>
	<EventsWithHeader title="Upcoming Events" events={fakeEvents} />
	<ContentWithHeader title="Our Partners" color="white" background="black">
		<p style={"font-size:1.2rem"}>
			PRISM prides itself in being a collaborative member of the LGBT community
			in South Florida. See some of our partners below! These organizations,
			businesses, and individuals have shown their steadfast commitment to our
			motto: "For Every Color, For Everyone" through partnered events,
			fundraising initiatives, grants, sponsorships, and other collaborations.
		</p>
		<Carousel items={fakeSponsors} />
	</ContentWithHeader>
	<NewsletterSignup />
	<Footer />
</Base>

<style>
	#animated-hero {
		/* temp */
		height: 60vh;
		background-color: darkmagenta;
	}
</style>
