---
import Base from "../templates/Base.astro";
import flag from "../assets/img/long-pride-flag.png";
import CardsWithHeader from "../sections/CardsWithHeader.astro";
import EventsWithHeader from "../sections/EventsWithHeader.astro";
import FlagWithTagline from "../sections/FlagWithTagline.astro";
import PaperWithPolaroids from "../sections/PaperWithPolaroids.astro";
import ruledBg from "../assets/img/ruled-bg.png";
import SectionBorder from "../components/SectionBorder.astro";
import OurPartners from "../sections/OurPartners.astro";
---

<Base
  pageMetadata={{
    title: "Website",
    description: "Test",
    type: "website",
    image: "https://picsum.photos/200",
    "image:alt": "test",
  }}
>
  <section id="animated-hero">
    <video
      src="/video/10 Second Countdown Timer - Film Beginning [RZEf9xNogqI].webm"
      muted
      autoplay
      loop
    >
    </video>
  </section>
  <SectionBorder type="spray-paint" backgroundColor="rgb(83, 193, 168)" flip />
  <FlagWithTagline title="Tagline" image={{ alt: "A pride flag.", ...flag }}>
    <p>For every color,<br />For everyone</p>
  </FlagWithTagline>
  <SectionBorder type="spray-paint" backgroundColor="rgb(83, 193, 168)" />
  <PaperWithPolaroids title="Who We Are" />
  <CardsWithHeader
    title="Resources"
    cards={[
      {
        label: "Learn",
        href: "/",
        backgroundColor: "gold",
      },
      {
        label: "Student Ambassador Program",
        href: "/",
        backgroundColor: "purple",
      },
      {
        label: "Get Tested",
        href: "/",
        backgroundColor: "pink",
      },
      {
        label: "School Policy Hub",
        href: "/",
        backgroundColor: "skyblue",
      },
    ]}
    backgroundImage={ruledBg.src}
  />
  <EventsWithHeader title="Upcoming Events" } backgroundImage={ruledBg.src} />
  <OurPartners />
</Base>

<style>
  #animated-hero {
    /* temp */
    height: 60vh;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
