---
import Base from "../templates/Base.astro";
import flag from "../assets/img/long-pride-flag.png";
import CardsWithHeader from "../sections/CardsWithHeader.astro";
import { faker } from "@faker-js/faker";
import EventsWithHeader from "../sections/EventsWithHeader.astro";
import type { SiteEvent } from "../types/payload";
import { titleCase } from "../lib";
import FlagWithTagline from "../sections/FlagWithTagline.astro";
import ContentWithHeader from "../sections/ContentWithHeader.astro";
import Carousel from "../components/Carousel.astro";
import PaperWithPolaroids from "../sections/PaperWithPolaroids.astro";
import ruledBg from "../assets/img/ruled-bg.png";
import SectionBorder from "../components/SectionBorder.astro";

const fakeEvents: SiteEvent[] = new Array(12).fill(null).map(() => {
  return {
    id: faker.internet.ipv6(),
    updatedAt: faker.date.recent().toString(),
    createdAt: faker.date.past().toString(),
    title: titleCase(faker.lorem.words({ min: 2, max: 6 })),
    link: faker.internet.url(),
    date: faker.date.future().toString(),
    location: titleCase(faker.lorem.words({ min: 1, max: 5 })),
    image: {
      square: `https://picsum.photos/${Math.floor(450 + 100 * Math.random())}`,
      rectangular: `https://picsum.photos/${Math.floor(820 + 100 * Math.random())}/${504 + 100 * Math.random()}`,
    },
  };
});

const fakeSponsors = new Array(8).fill(null).map(() => {
  return {
    image: faker.image.urlPicsumPhotos({ width: 300, height: 300 }),
    href: faker.internet.url(),
    alt: faker.lorem.words(),
  };
});
---

<Base
  pageMetadata={{
    title: "Website",
    description: "Test",
    type: "website",
    image: "https://picsum.photos/200",
    "image:alt": "test",
  }}
>
  <section id="animated-hero"></section>
  <SectionBorder type="spray-paint" backgroundColor="rgb(83, 193, 168)" flip />
  <FlagWithTagline title="Tagline" image={{ alt: "A pride flag.", ...flag }}>
    <p>For every color,<br />For everyone</p>
  </FlagWithTagline>
  <SectionBorder type="spray-paint" backgroundColor="rgb(83, 193, 168)" />
  <PaperWithPolaroids title="Who We Are" />
  <CardsWithHeader
    title="Resources"
    cards={[
      {
        label: "Learn",
        href: "/",
        backgroundColor: "gold",
      },
      {
        label: "Student Ambassador Program",
        href: "/",
        backgroundColor: "purple",
      },
      {
        label: "Get Tested",
        href: "/",
        backgroundColor: "pink",
      },
      {
        label: "School Policy Hub",
        href: "/",
        backgroundColor: "skyblue",
      },
    ]}
    backgroundImage={ruledBg.src}
  />
  <EventsWithHeader title="Upcoming Events" } backgroundImage={ruledBg.src} />
  <ContentWithHeader title="Our Partners" color="white" background="black">
    <p>
      PRISM prides itself in being a collaborative member of the LGBT community
      in South Florida. See some of our partners below! These organizations,
      businesses, and individuals have shown their steadfast commitment to our
      motto: "For Every Color, For Everyone" through partnered events,
      fundraising initiatives, grants, sponsorships, and other collaborations.
    </p>
    <Carousel items={fakeSponsors} />
  </ContentWithHeader>
  <style>
    #animated-hero {
      /* temp */
      height: 60vh;
      background-color: darkmagenta;
    }
  </style>
</Base>
