---
import FullWidthColumn from "../sections/FullWidthColumn.astro";
import Base from "../templates/Base.astro";
---

<Base
	pageMetadata={{
		title: "Website",
		description: "Test",
		type: "website",
		image: "https://picsum.photos/200",
		"image:alt": "test",
	}}
>
	<FullWidthColumn><p>placeholder</p></FullWidthColumn>
</Base>
