---
interface Props {
  background?: string;
}
const { background } = Astro.props;
---

<div class="colored-header">
  <slot />
</div>

<style define:vars={{ background }}>
  .colored-header {
    padding: 2rem;
    background: var(--background);
    h1 {
      margin: 0;
      text-align: center;
      font-size: 3rem;

      @include breakpoint-up(md) {
        font-size: 5rem;
      }
    }
  }
</style>
