---
import type { HTMLAttributes } from "astro/types";
import { getImage } from "astro:assets";
import { processColor, processMedia } from "../lib/payload";
import CssFilterConverter from "css-filter-converter";
import type { LinkCardData } from "../types/payload";

type Props = LinkCardData;
const { label, backgroundColor, href, textColor, backgroundImage, offset } =
	Astro.props;

let style: HTMLAttributes<"a">["style"] = {};
const optimizedBackground = backgroundImage
	? await getImage(processMedia(backgroundImage))
	: null;
const processedBgColor = processColor(backgroundColor);
const processedTextColor = processColor(textColor);

console.log(backgroundColor);
if (optimizedBackground) {
	style = {
		background: `url("${backgroundImage}")`,
	};
	if (processedBgColor) {
		style = {
			...style,
			filter: CssFilterConverter.hexToFilter(processedBgColor),
		};
	}
}

if (!optimizedBackground && processedBgColor) {
	style = { background: processedBgColor };
}

if (processedTextColor) {
	style = { ...style, color: processedTextColor };
}
---

<div class="link-card rounded" style={style}>
	<a href={href}>
		<div>{label}</div>
	</a>
</div>

<style
	define:vars={{
		topOffset: offset?.top ?? "initial",
		leftOffset: offset?.left ?? "initial",
		rightOffset: offset?.right ?? "initial",
		bottomOffset: offset?.bottom ?? "initial",
	}}
>
	.link-card {
		--size: 16rem;
		width: var(--size);
		height: var(--size);
		font-weight: bold;
		font-family: var(--header-font);
		font-size: 1.2rem;
		border: 2px solid white;

		a {
			color: inherit;
			padding: 1rem;
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			position: relative;

			div {
				position: absolute;
				/* background: red; */
				top: var(--topOffset);
				left: var(--leftOffset);
				right: var(--rightOffset);
				bottom: var(--bottomOffset);
			}
		}
	}
</style>
