---
interface Props {
	label: string;
	background: string;
	textColor?: string;
	href: string;
}
const { label, background, href, textColor } = Astro.props;
---

<div class="link-card rounded">
	<a href={href} style={{ background: background }}>
		<div>{label}</div>
	</a>
</div>

<style define:vars={{ background, textColor }}>
	.link-card {
		background: var(--background);
		--size: 16rem;
		width: var(--size);
		height: var(--size);
		border: 2px solid white;
		padding: 1rem;
		font-weight: bold;
		font-family: var(--header-font);
		font-size: 1.2rem;

		a {
			color: var(--textColor);
			text-decoration: none;
		}
	}
</style>
