---

---

<div class="long-flag" role="none">
	<div class="color-stripes">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="white-stripe"></div>
</div>

<style>
	.long-flag {
		--stripe-width: 2rem;
		width: 100%;
		display: flex;
		height: calc(var(--stripe-width) * 6);

		.color-stripes {
			flex: 1;
			div {
				height: var(--stripe-width);
				width: 100%;
			}

			div:nth-child(1) {
				background: #d03c39;
			}

			div:nth-child(2) {
				background: #f19121;
			}

			div:nth-child(3) {
				background: #fcec15;
			}

			div:nth-child(4) {
				background: #73bf44;
			}

			div:nth-child(5) {
				background: #0ca8df;
			}

			div:nth-child(6) {
				background: #854e9f;
			}
		}
		.white-stripe {
			width: calc(var(--stripe-width) / 2);
			height: 100%;
			background-color: white;
		}
	}
</style>
