* {
  --prism-teal: #2fceb0;
  --bright-gold: rgb(244, 170, 51);

  --bg-color: var(--prism-teal);
  --fg-color: white;
  --accent-color: var(--bright-gold);

  --custom-color-1: #f19221;
  --custom-color-2: #854e9e;
  --custom-color-3: #74bf44;
  --custom-color-4: purple;
  --custom-color-5: crimson;
  --custom-color-6: magenta;
  --text-font: "Zilla Slab", serif;
  --header-font: "Poppins", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
  font-family: var(--text-font);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
}
