---
import ColoredHeader from "../components/ColoredHeader.astro";
import { strictSlug } from "../lib";
import LinkCard from "../components/LinkCard.astro";
import type { Block } from "../types/payload";
import { processMedia } from "../lib/payload";

type Props = Block<"CardsWithHeader">;
const {
	title,
	cards,
	backgroundImage: unprocessedBackgroundImage,
} = Astro.props;

const processedBackgroundImage = unprocessedBackgroundImage
	? processMedia(unprocessedBackgroundImage)
	: null;
const backgroundImage = processedBackgroundImage
	? `url("${processedBackgroundImage.src}")`
	: "none";
---

<section
	id={strictSlug(title)}
	style={{
		backgroundImage,
	}}
>
	<ColoredHeader
		><slot name="header"><h1 class="cards-header">{title}</h1></slot
		></ColoredHeader
	>
	<ul>
		{
			cards?.map((card) => (
				<li>
					<LinkCard {...card} />
				</li>
			))
		}
	</ul>
</section>

<style lang="scss">
	@use "../styles/utils" as *;

	.cards-header {
		text-align: center;
		font-size: 3rem;
		color: var(--fg-color);

		@include breakpoint-up(md) {
			font-size: 4rem;
		}
	}

	ul {
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;

		@include breakpoint-up(md) {
			padding: 4rem;
		}
	}
</style>
