---
import slugify from "slugify";
import ColoredHeader from "../components/ColoredHeader.astro";
import LinkCard from "../components/LinkCard.astro";
import type { Block } from "../types/sections";

type Props = Block<"CardsWithHeader">;
const { title, backgroundColor, cards } = Astro.props;
---

<section id={slugify(title, { strict: true })}>
	<ColoredHeader
		><slot name="header"><h1 class="cards-header">{title}</h1></slot
		></ColoredHeader
	>
	<ul>
		{
			cards?.map((card) => (
				<li>
					<LinkCard {...card} />
				</li>
			))
		}
	</ul>
</section>

<style>
	.cards-header {
		font-size: 4rem;
		text-align: center;
		color: var(--fg-color);
	}

	ul {
		background: lightgray;
		padding: 4rem;
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
</style>
