---
import { strictSlug } from "../lib";
import ColoredHeader from "../components/ColoredHeader.astro";
import { EventList } from "../components/EventList.tsx";
import type { SiteEvent } from "../types/payload";
interface Props {
	title: string;
	events: SiteEvent[];
}

const { title, events } = Astro.props;
---

<section id={strictSlug(title)}>
	<ColoredHeader background="var(--bg-color)"><h1>{title}</h1></ColoredHeader>
	<EventList client:load events={events} />
</section>

<style>
	h1 {
		text-align: center;
	}
</style>
