---
import { NewsletterForm } from "./NewsletterForm.tsx";
---

<section id="newsletter-signup">
	<NewsletterForm client:load />
</section>

<style lang="scss">
	section {
		padding: 2rem;
	}
</style>
